/*global style*/

body {
    font-family: ;
}

.mb {
    margin-bottom: 50px;
}

.pd {
    padding: 60px 0;
}

.benefit-section::before,
.benefit-section::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 65%;
    background: black;
    width: 120px;
    height: 2px;
    margin: 0 auto;
}

.benefit-section::after {
    width: 90px;
    bottom: 63%;
}

/*global style*/

/*header top section starts*/

.header-top-section {
    background-color: rgba(72, 116, 116, 0.884);
    padding: 0px 0px;
    color: black;
    margin-top: 0%;
}

.social-section,
.contact-section {}

.social-section ul,
.contact-section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
}

.contact-section ul {
    justify-content: flex-end;
}

.social-section ul li,
.contact-section ul li{
    display: inline-block;
}

.social-section ul li a,
.contact-section ul li a {}

.social-section ul li a i,
.contact-section ul li a i {
    padding: 15px;
}

.contact-section ul li a span {
    color: black;
    font-weight: bold;
}

.fab,
.fas {
    color: black;
    font-size: 13px;
}

/*header top section ends*/

/*card starts*/

.card {
    height: 300px;
    border-color: darkslategray;
}

/*card ends*/