body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5rem;
    margin:0px;
    font-size: 20px;
    text-align: left;
    font-weight: 300;
}
.header-top-section
{
    padding: 12px 0px;
    background: black;
    background-attachment: scroll;
}

.social-icons ul{
    display: flex;
flex-direction: row;
justify-content: flex-start;
list-style: outside none none;
margin: 0;
}
.social-icons ul li 
{
    margin-right: 30px;
}
.contact-box ul{
    display: flex;
flex-direction: row;
justify-content: flex-end;
list-style: outside none none;
margin: 0;
}
.contact-box ul li 
{
    margin-left: 20px;
}
.logo a img {
    display: block;
    max-width: 60px;
    max-height: 60px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.header-bottom-area {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    background: rgba(35, 123, 194, 0.6);
}
.menu-list ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    color: black;
    justify-content: flex-end;
    list-style: outside none none;
}

}
.menu-list {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.menu-list ul {
    display: flex;
    flex-direction: row;
}

.menu-list ul li {
    position: relative;
}

.menu-list ul li a {
    padding: 10px 15px;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.menu-list ul li .sub-menu{
    width: 280px;
    line-height: 40px;;
    position: absolute;
    top:300%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.menu-list ul li:hover .sub-menu
{
    opacity: 0.5;
    top: 860%;
}
.mb {
    margin-bottom: 50px;
}

.pd {
    padding: 60px 0;
}
.section-title {
    position: relative;
}



.section-title h4 {
    font-size: 36px;
}

.section-title p {
    font-size: 16px;
}
.section-title::before,
.section-title::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -15%;
    background: #000;
    width: 100px;
    height: 2px;
    margin: 0 auto;
}
.benefit-section::after {
    width: 90px;
    bottom: 63%;
}
.section-title::after {
    width: 80px;
    bottom: -10%;
}
.service-item {
    background: #25cbe9;
    border: 1px solid;
    border-radius: 5px;
}

.service-item .service-item_icon i {
    font-size: 20px;
    color: rgb(20, 14, 32);
    padding: 10%;
}

.service-item .service-item_title h4 {
    font-size: 22px;
}

.service-item .service-item_btn a {
    padding: 8px 18px;
    font-size: 15px;
    color: #000;
    background-color: #dddd;
    transition: all 0.4s ease-out 0s;
}

.service-item .service-item_btn a:hover {
    color: #fff;
    background: #000;
}
.col-lg-12
{
    flex: 0 0 100%;
max-width: 100%;
padding: 5%;
}